<div class="col-10 offset-1 about">
  <h1> About Splurty </h1>

  <p>
    Splurty was built by <a target= "_blank" href="https://github.com/snsmith92"> Sherzel Smith Williams</a>, a Firehose Project bootcamp student. 
  </p>

  <p>
    Splurty is for people who love cooking, people who love eating, and people who love both!
  </p>

  <br />

  <p> 
    If you want to contribute a quote to Splurty, your quote is always welcome!

  </p>

<br />
<br />

  <div class="row">
    <div class= "col-12 col-sm-4">
      <%= image_tag 'sherzel.jpg', class: 'img-fluid' %>
    </div>
    <div class = "col-12 col-sm-7 offset-sm-1">
      <h2 class= "about_name_header"> Sherzel Smith Williams </h2>
      <br />
      <p>
        Sherzel is a public health researcher who is now focusing on becoming a software engineer. She can be found in any part of the year in either the Bahamas or in Europe. In her spare time she cooks and makes Splurty web apps about cooking.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />