<div class="col-10 offset-1 about">
  <h1> About <span class = "splurty-title">Splurty</span></h1>
  <br />
  <p>
    <span class = "splurty">Splurty</span> was built by <a target= "_blank" href="https://github.com/snsmith92"> Sherzel Smith Williams</a>, a Firehose Project bootcamp student. <span class = "splurty">Splurty</span> is for people who love cooking, people who love eating, and people who love both! If you want to contribute a quote to <span class = "splurty">Splurty</span>, your quote is always welcome!
  </p>
<br />
<br />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />