<div class = "hero">
<br />
<br />
  <div class= 'quote-page col-8 offset-2'>
    <h2>
      <span class = "tagline">SPLURTY / No. <%= @quote.id %></span>
    </h2>
    <h1 class = "quote"><%= @quote.saying %></h1>
    <h2 class="float-right author">- <%= @quote.author %></h2>
    <br class="clear" />
  </div>
  <br />
  <div class= 'text-center'>
    <%= link_to 'Next Quote', root_path, class: 'btn btn-primary'%>
  </div>

</div>