<h2>
  <span>SPLURTY / No. <%= @quote.id %></span>
  The <u>best cooking quotes</u> on the internet!
</h2>

<br />
<br />

<h1><%= @quote.saying %></h1>
<br />
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />